.contents {
  width: 95%;
  margin-top: 20px;
  .contentsGrid {
    .item {
      width: 100%;
      break-inside: avoid;
      margin-bottom: 20px;
      padding: 0;
      list-style: none;
      img {
        width: 100%;
        border-radius: 10px;
      }
      a {
        color: black;
        text-decoration: none;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

// 分割設定
@media (1600px <= width) {
  .contents {
    width: 1450px;
  }
}
@media (1400px <= width) {
  .contentsGrid {
    column-count: 5;
  }
}
@media (1100px <= width < 1400px) {
  .contentsGrid {
    column-count: 4;
  }
}
@media (700px <= width < 1100px) {
  .contentsGrid {
    column-count: 3;
  }
}
@media (width < 700px) {
  .contentsGrid {
    column-count: 2;
  }
}
