.loading {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 300px;
  }
  p {
    font-size: 20px;
    font-weight: 800;
  }
}
