.settings {
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  .userInfo {
    img {
      border-radius: 50%;
      margin-bottom: 10px;
    }
  }
  .accountBtn {
    margin-top: 10px;
  }
}
